label = 33att_train
model_type = ssn
model_path = bert-base-uncased
tokenizer_path = bert-base-uncased
cpu = false
debug = false
train_path = RUN_FILES/prepare_data/33att/train.json
valid_path = RUN_FILES/prepare_data/33att/dev.json.test
types_path = RUN_FILES/train_33att/33att_types.json
train_batch_size = 10
eval_batch_size = 6
epochs = 10
lr = 2e-5
lr_warmup = 0.2
weight_decay = 0.01
max_grad_norm = 1.0
prop_drop = 0.1
store_predictions = true
store_examples = true
sampling_processes = 0
log_path =  RUN_FILES/train_33att/
save_path = RUN_FILES/train_33att/
seed = 46
final_eval = false
init_eval = false
freeze_transformer = false
confidence = 0.4
num_query = 60
decoder_layers = 6
lstm_layers = 3
lstm_drop = 0.1
pos_size = 25
char_lstm_layers = 1
char_lstm_drop = 0.1
char_size = 50
use_glove = true
use_pos = true
use_char_lstm = true
pool_type = max
reduce_dim = true
bert_before_lstm = true
wordvec_path = RUN_FILES/prepare_data/glove.6B.100d.txt
device_id = 0
